{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Machines</title>
  </head>
  <body>
    {% for machine in machines %}
    <div>
      <h2>{{ machine.name }}</h2>
      <p>Etat: {{ machine.Etat }}</p>
      {% if machine.ip == '192.168.146.138' %}
      <form action="simple_function">
        {% csrf_token %}
        <input type="hidden" name="ip" value="{{ machine.ip }}">
        <button role="button" type="submit">Redémarrer la machine</button>
      </form>
      <form action="machine_info">
        {% csrf_token %}
        <input type="hidden" name="ip" value="{{ machine.ip }}">
        <button role="button" type="submit">Afficher le tableau de bord</button>
      </form>
      {% elif machine.ip == '192.168.146.128' %}
      <form action="simple_function2">
        {% csrf_token %}
        <input type="hidden" name="ip" value="{{ machine.ip }}">
        <button role="button" type="submit">Redémarrer la machine</button>
      </form>
      <form action="machine_info2">
        {% csrf_token %}
        <input type="hidden" name="ip" value="{{ machine.ip }}">
        <button role="button" type="submit">Afficher le tableau de bord</button>
      </form>
      {% elif machine.ip == '192.168.146.1' %}
      <form action="simple_function3">
        {% csrf_token %}
        <input type="hidden" name="ip" value="{{ machine.ip }}">
        <button role="button" type="submit">Redémarrer la machine</button>
      </form>
      <form action="machine_info3">
        {% csrf_token %}
        <input type="hidden" name="ip" value="{{ machine.ip }}">
        <button role="button" type="submit">Afficher le tableau de bord</button>
      </form>
      {% endif %}
    </div>
    {% endfor %}
  </body>
</html>





